/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 2.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: hsl(30, 38%, 92%);
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
   9. Create a root stacking context
 */
#root,
#__next {
    isolation: isolate;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-image {
    display: block;
    max-height: 30em;
    max-width: 20rem;
}

.product-info {
    display: block;
    height: 30em;
    max-width: 20rem;
    align-items: center;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
}

.category {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.product-title {
    font-family: 'Fraunces', serif;
}

.pricing  {
  display: flex;
  align-items: center;
}

.pricing h3 {
  margin-left: 20px;
}

.cart-button {
  display: flex;
  justify-content: center;
  width: 70%;
}

/* .cart-button button { */
/*   display: flex; */
/*   width: 70%; */
/*   height: 40px; */
/* } */

.cart-button img {
  display: block;
  width: 20px;
  height: 30px;
}
